*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Roboto;
	font-size: 16px;
	background-color: #E5E5E5;
}

/*COMMON STYLES*/

.flex-block{
	display: flex;
	justify-content: space-between;
}

.title{
	font-family: Open+Sans;
	font-weight: 700;
}

.title-h2{
	font-size: 40px;
	line-height: 130%;
	color: #212353;
}

.text{
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
}

.container{
	max-width: 1117px;
	padding: 0;
}

/*common buttons*/
.demo-button{
	position: relative;
	padding: 17px 70px 17px 30px;
	background-color: #fff;
	font-weight: 700;
	border: none;
	border-radius: 50px;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.demo-button:before{
	display: block;
	position: absolute;
	top: 50%;
	right: 10%;
	content:"";
	width: 20px;
	height: 2px;
	background-color: #9C69E2;
}

.demo-button:after{
	display: block;
	position: absolute;
	top: 50%;
	right: 10%;
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #9C69E2;
	border-right: 2px solid #9C69E2;
	transform: rotate(45deg) translate(-2px, -4px);
}
.more-button{
	padding: 17px 37px;
	font-weight: 700;
	border: none;
	border-radius: 50px;
}


/*HEADER*/

header{
	margin-bottom: 150px;
}

.left-panel{
	display: flex;
	justify-content: space-between;
}

/*logo*/

.container--logo{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.logo{
	display: flex;
	align-items: flex-end;
	margin-bottom: 15px;
}

.logo__element{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #9C69E2;
}

.logo--right{
	margin-left: 9px;
	height: 35px;
	background-color: #F063B8;
}

/*nav*/

.nav__link{
	list-style: none;
	margin: 20px;
}


.nav__item{
	text-decoration: none;
	color: #212353;
	transition: text-shadow .3s;
}

.nav__item:hover{
	text-decoration: none;
	color: #212353;
	text-shadow: 0 0 .88px #333, 0 0 .88px #333; /*замена font-weight: 700; -  дергается текст при наведении*/
}

/*introduction*/
.introduction{
	position: relative;
	margin-bottom: 100px;
}

.introduction__description{
	z-index: 1;
}

.introduction__title{
	margin-bottom: 50px;
	font-size: 80px;
}

.introduction__text{
	margin-bottom: 50px;
}

.introduction_img{
	position: absolute;
	bottom:0;
	right: -10%;
	z-index: 0;
}

.introduction__button{
	background-color: #9C69E2;
}
