*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	background-color: #E5E5E5;
}

/*COMMON STYLES*/
p {
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
}

.container{
	max-width: 1117px;
	padding: 0;
}

.title{
	margin-bottom: 50px;
	font-family: Open+Sans;
	font-weight: 700;
	line-height: 130%;
	color: #212353;
}

.title-h2{
	font-size: 40px;
}

.title-h3{
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}


/*common buttons*/

.button{
	padding: 17px 37px;
	font-weight: 700;
	border: none;
	border-radius: 50px;
	color: #212353;
}

.arrow-button{
	position: relative;
	padding: 17px 70px 17px 30px;
	background-color: #fff;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.arrow-button:before{
	display: block;
	position: absolute;
	top: 50%;
	right: 15%;
	content:"";
	width: 20px;
	height: 2px;
	background-color: #9C69E2;
}

.arrow-button:after{
	display: block;
	position: absolute;
	top: 50%;
	right: 15.3%;
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #9C69E2;
	border-right: 2px solid #9C69E2;
	transform: rotate(45deg) translate(-2px, -4px);
}

.hr{
	height: 2px;
	background-color: #9C69E2;
	opacity: 0.2;
	margin-bottom: 100px;
}


/*HEADER*/

header{
	margin-bottom: 150px;
}

.left-panel{
	display: flex;
	justify-content: space-between;
}

/*logo*/

.container--logo{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.logo{
	display: flex;
	align-items: flex-end;
	margin-bottom: 15px;
}

.logo__element{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #9C69E2;
}

.logo--right{
	margin-left: 9px;
	height: 35px;
	background-color: #F063B8;
}

/*nav*/

.nav__link{
	list-style: none;
	margin: 20px;
}


.nav__item{
	text-decoration: none;
	color: #212353;
	transition: text-shadow .3s;
}

.nav__item:hover{
	text-decoration: none;
	color: #212353;
	text-shadow: 0 0 .88px #333, 0 0 .88px #333; /*замена font-weight: 700; -  дергается текст при наведении*/
}

/*introduction*/
.introduction{
	position: relative;
	margin-bottom: 200px;
}

.introduction__description{
	z-index: 1;
}

.introduction__title{
	font-size: 80px;
	line-height: 110%;
}

.introduction__text{
	margin-bottom: 50px;
}

.introduction_img{
	position: absolute;
	bottom: -20%;
    right: -10%;
	z-index: 0;
}

.introduction__button{
	color: 	#fff;
	background-color: #9C69E2;
}

/*we-are*/

.we-are{
	position: relative;
	display: flex;
	justify-content: flex-end; 
	margin-bottom: 150px;
	padding: 125px 92px;
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
}

.we-are__img{
	position: absolute;
	top: 0;
	left:0;
}

.we-are__title{
	margin-bottom: 40px;
}


/*Features*/

.features{
	text-align: center;
	margin-bottom: 150px;
	padding: 0;
}

.features__text{
	margin-bottom: 100px;
}

.features__list{
	display: grid;
	grid-template: 1fr 1fr/ 1fr 1fr;
	grid-gap: 50px 145px;
	padding: 0;
}

.features__item{
	position: relative;
	display: flex;
	justify-content: flex-end; 
	padding: 50px 50px 33px 50px;
	text-align: left;
	border-radius: 50px;
}

.features__item1{
	background-color: rgba(104, 201, 186, 0.1);
}

.features__item2{
	background-color: rgba(156, 105, 226, 0.1);
}

.features__item3{
	background-color: rgba(240, 99, 184, 0.1);
}

.features__item4{
	background-color: rgba(45, 156, 219, 0.1);
}

.features__right-panel{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:  flex-start;
	min-height: 275px;
	z-index: 1;
}

.features__img{
	position: absolute;
	top: 0;
	left: -100px;
	margin: 75px 0;
}

.features__description{
	margin-bottom: 20px;	
}

.features__button{
	padding-left: 0;
	background-color: inherit;
	box-shadow: none;
}

/*Testimonials*/

.testimonials{
	margin-bottom: 150px;
	padding: 110px 95px 60px 95px;
	background-color: #9C69E2;
	border-radius: 50px;
}

.testimonials__titile{
	color: #fff;
}

.testimonials__list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#list{
	display: flex;
}

.testimonials__item{
	position: relative;
	margin-right: 20px;
	margin-bottom: 65px;
	padding: 80px 70px 50px 190px;
	list-style: none;
	background-color: #fff;
	border-radius: 50px;
	box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
}

.testimonials__avatar{
	position: absolute;
	top: 60px;
	left: 70px;
}

.testimonials__comment{
	display: flex;
	flex-direction: column;
}

.testimonials__name{
	font-weight: 700;
}

.testimonials__info{
	font-size: 14px;
	color: #9C69E2;
	margin-bottom: 20px;
}

.testimonials__text{
	line-height: 180%;
}


/*testimonials__slider*/
.testimonials__slider{
	display: flex;
	justify-content: space-between;
}

.testimonials__slider-dots{
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.slider_dot{
	margin-right: 10px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #fff;
}

.slider_dot--active{
	width: 10px;
	height: 10px;
	background-color: #F063B8;
}

.testimonials__slider-arrows{
	display: flex;
}

.slider-arrow{
	position: relative;
	width: 40px;
	height: 2px;
	background-color: #fff;
}

.slider-arrow:before{
	display: block;
	position: absolute;
	top: 0%;
	right: 0%;
	content:"";
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	transform: rotate(45deg) translate(-25px, 19px);
}

.slider-arrow--prev{
	margin-right: 20px;
}

.slider-arrow--next{
	opacity:0.7;
	width: 20px;
}

.slider-arrow--next:before{
	border-bottom: none;
	border-left: none;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg) translate(-3px, -3px);
}

/*FOOTER*/

.footer-proposal{
	display: flex;
	justify-content: space-between;
	margin-bottom: 150px;
}

.footer-proposal__button{
	margin-right: 30px;
	color: #fff;
	background-color: #F063B8;
}

.footer-proposal__title-h2{
	margin-bottom: 20px;
}

.footer-proposal__text{
	color: #4B5D68;
}


.footer-main{
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
}

.footer-main__logo{
	display: flex;
	margin-bottom: 60px;
}

.footer-main__name{
	font-size: 20px;
	font-weight: 700;
	margin-left: 20px;
}

.footer-main__adress{
	font-size: 16px;
	font-weight: 500;
	line-height: 180%;
	margin-bottom: 20px;
}

.footer-main__contacts{
	font-size: 16px;
	line-height: 180%;
}


.footer-nav{
	display: flex;
	justify-content: space-between;
}

.footer-nav__title{
	font-weight: 500;
}

.footer-nav__left{
	margin-right: 150px;
}

.footer-nav__link{
	margin: 0 0 20px 0;
	padding: 0;
}

.footer-nav__link:first-child{
	margin-top: 30px;
}


.social__text{
	font-style: 16px;
	font-weight: 500;
}

.social__wrapper{
	display: flex;
	margin-top: 30px;
}

.social__item{
	margin-right: 15px;
	text-align: center;
	opacity: 0.1;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #212353;
}

.social__item i{
	margin-top: 15px;
	font-size: 18px;
	color: #fff;
}


.footer-info{
	display: flex;
	justify-content: space-between;
}

.footer-info__text{
	font-size: 12px;
	line-height: 180%;
}

.footer-info__massage{
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #8269e236;
}

.fa-comment-dots{
	opacity: 1;
	margin-top: 10px;
	font-size: 28px;
	color: #9C69E2;
}
