*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Roboto;
	font-size: 16px;
	background-color: #E5E5E5;
}

/*COMMON STYLES*/
.container{
	max-width: 1117px;
	padding: 0;
}

.title{
	margin-bottom: 50px;
	font-family: Open+Sans;
	font-weight: 700;
	line-height: 130%;
	color: #212353;
}

.title-h2{
	font-size: 40px;
}

.title-h3{
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}

.text{
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
}



/*common buttons*/

.button{
	padding: 17px 37px;
	font-weight: 700;
	border: none;
	border-radius: 50px;
	color: #212353;
}

.arrow-button{
	position: relative;
	padding: 17px 70px 17px 30px;
	background-color: #fff;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.arrow-button:before{
	display: block;
	position: absolute;
	top: 50%;
	right: 15%;
	content:"";
	width: 20px;
	height: 2px;
	background-color: #9C69E2;
}

.arrow-button:after{
	display: block;
	position: absolute;
	top: 50%;
	right: 15.3%;
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #9C69E2;
	border-right: 2px solid #9C69E2;
	transform: rotate(45deg) translate(-2px, -4px);
}




/*HEADER*/

header{
	margin-bottom: 150px;
}

.left-panel{
	display: flex;
	justify-content: space-between;
}

/*logo*/

.container--logo{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.logo{
	display: flex;
	align-items: flex-end;
	margin-bottom: 15px;
}

.logo__element{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #9C69E2;
}

.logo--right{
	margin-left: 9px;
	height: 35px;
	background-color: #F063B8;
}

/*nav*/

.nav__link{
	list-style: none;
	margin: 20px;
}


.nav__item{
	text-decoration: none;
	color: #212353;
	transition: text-shadow .3s;
}

.nav__item:hover{
	text-decoration: none;
	color: #212353;
	text-shadow: 0 0 .88px #333, 0 0 .88px #333; /*замена font-weight: 700; -  дергается текст при наведении*/
}

/*introduction*/
.introduction{
	position: relative;
	margin-bottom: 200px;
}

.introduction__description{
	z-index: 1;
}

.introduction__title{
	font-size: 80px;
	line-height: 110%;
}

.introduction__text{
	margin-bottom: 50px;
}

.introduction_img{
	position: absolute;
	bottom: -20%;
    right: -10%;
	z-index: 0;
}

.introduction__button{
	color: 	#fff;
	background-color: #9C69E2;
}

/*we-are*/

.we-are{
	position: relative;
	display: flex;
	justify-content: flex-end; 
	margin-bottom: 150px;
	padding: 125px 92px;
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
}

.we-are__img{
	position: absolute;
	top: 0;
	left:0;
}

.we-are__title{
	margin-bottom: 40px;
}


/*Features*/

.features{
	text-align: center;
	margin-bottom: 150px;
	padding: 0;
}

.features__text{
	margin-bottom: 100px;
}

.features__list{
	display: grid;
	grid-template: 1fr 1fr/ 1fr 1fr;
	grid-gap: 13% 6.5%;
	padding: 0;
}

.features__item{
	position: relative;
	display: flex;
	justify-content: flex-end; 
	padding: 50px 50px 33px 50px;
	text-align: left;
	border-radius: 50px;
}

.features__item1{
	background-color: rgba(104, 201, 186, 0.1);
}

.features__item2{
	background-color: rgba(156, 105, 226, 0.1);
}

.features__item3{
	background-color: rgba(240, 99, 184, 0.1);
}

.features__item4{
	background-color: rgba(45, 156, 219, 0.1);
}

.features__right-panel{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:  flex-start;
	min-height: 275px;
	z-index: 1;
}

.features__img{
	position: absolute;
	top: 0;
	left: -10%;
	margin: 75px 0;
}

.features__description{
	margin-bottom: 20px;	
}

.features__button{

	padding-left: 0;
	background-color: inherit;
	box-shadow: none;
}
